
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C                      = US
ST                     = OR
L                      = Corvallis
O                      = Death Inc
OU                     = Snipers
CN                     = vm-cs-cap-g15.eecs.oregonstate.edu
emailAddress           = hennign@oregonstate.edu

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vm-cs-cap-g15.eecs.oregonstate.edu
DNS.2 = *.vm-cs-cap-g15.eecs.oregonstate.edu
