{% extends "base.html" %}

{% block content %}
<!--<form id='submit' name='submit' action='submit-assignment' method='post' enctype='multipart/form-dat' accept-charset='UTF-8'>
	<input class='file-input' type='file' name='attachments[0][uploaded]'></input>
	<button class='remove-attachment' form='submit' name='remove-file'>Remove file</button>
	<button class='add-attachment' form='submit' name='add-file'>Add another file</button>
	<button class='cancel btn' type='button'>Cancel</button>
	<button class='submit btn' type='submit'>Submit Assignment</button>
	</form>-->
{% endblock %}
