{% extends "base.html" %}

{% block content %}
<h2>Create a Test</h2>
<h4 class='error'>{{ error }}</h4>
<form action="/test/create" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_table }}   
	<br>
	<label for='assignment-id'>Assignment name:</label>
	<select id='assignment-id' name='assignment-id'>
		{% for assign in assignments %}
		<option value="{{ assign.assignment_id }}">
		{{ assign.name }} due {{ assign.end_date }} ({{ assign.dept_name }} {{ assign.course_num }})
		</option>
		{% endfor %}
		<input class="multiFileInput" type="file" name="files" onchange="newInput();">			
	</select>
	<input class='btn' type="submit" value="Create" />
</form>
{% endblock %}
