{% extends "base.html" %}

{% block content %}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis
scelerisque rutrum. Nulla facilisi. Cras id eros sit amet nibh convallis
vulputate id nec sapien. Donec est ante, tristique elementum purus mollis,
lobortis gravida nisl. Ut efficitur nulla vitae purus accumsan, sed maximus
ligula laoreet. Fusce vitae luctus erat. Aenean vehicula, nunc sit amet lacinia
dictum, ex lectus lobortis nisi, sit amet iaculis dolor libero ac tellus. Morbi
posuere nibh in molestie rutrum. Proin iaculis velit nunc, et bibendum est
porttitor eu. Praesent volutpat felis lectus, sit amet pharetra est semper
a.</p> 
{% endblock %}
