{% extends "base.html" %}

{% block content %}
{% if user.type == 'teacher' %}
<a href='/course/create' class='btn'>Create Course</a>
{% endif %}
<h2>Welcome, {{ user.student }}</h2>

<table class='course-table border highlight responsive'>
	<tr class='course-header'>
		<th>Course</th>
		<th>Assignments</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td><a href='/course/{{ course.course_id }}'>{{ course.name }}</td>
		<td>
			{% for assign in course.assignments|slice:":3" %}
			<p>{{ assign.name }}</p>
			<strong>Due on: {{ assign.end_date }}</strong>
			{# if n < n and user.type == 'student' #}
			<a href='/course/{{ course.course_id }}/{{ assign.assignment_id }}/submit'>Submit Assignment</a>
			{# else if user.type == 'teacher' or user.type=='ta' and n < assign.due #}
			<a href='{{ course.course_id }}/'>
			{# endif #}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
