{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{ user.student }}{{ user.teacher }}</h2>
{% if msg %}
<h4>{{ msg }}</h4>
{% endif %}

{% if user.teacher %}
<a href='/course/create' class='btn'>
	<i class='material-icons'>add</i> course</a>
<a class='btn' href='/assignment/create/'>
	<i class='material-icons'>add</i> assignment</a>
<a class='btn' href='/test/create/'>
	<i class='material-icons'>add</i> test</a>
<a class='btn' href='/ta/create/'>
	<i class='material-icons'>add</i> ta</a>
<a class='btn' href='/student/create/'>
	<i class='material-icons'>add</i> students</a>
{% endif %}

<table class='course-table border highlight responsive'>
	<tr class='course-header'>
		<th>Course</th>
		<th>Upcoming Assignments</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td>
			<a href='/course/{{ course.course_id }}'>
				{{ course.dept }} {{ course.num }} {{ course.name }}</a>
			{% if user.teacher %}
			<br><a href='course/edit/{{ course.course_id}}' class='btn'>
				<i class='material-icons'>edit</i> course</a>
			{% endif %}
		</td>
		<td>
			{% for assign in upcoming|slice:":3" %}
			<a href='assignment/{{ assign.assignment_id}}'>{{ assign.name }}</a>
			<strong>Due on: {{ assign.end_date }}</strong>
			<br>
			{% if user.type == 'student' %}
			<a class='btn' href='/assignment/submit/{{ assign.assignment_id }}'>
				<i class='material-icons'>submit</i> assignment</a>
			<a class='btn' href='/assignment/test/{{ assign.assignment_id }}'>
				Test Assignment</a>
			{% else %}
			<a class='btn' href='/assignment/edit/{{ assign.assignment_id }}/'>
				<i class='material-icons'>edit</i> assignment</a>
			{% endif %}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
