{% if courses %}
<ul id='courses' class='dropdown-content'>
	{% for c in courses %}
	<li><a href='/course/{{ c.course_id }}'>{{ c.name }}</a></li>
	<li class='divider'></li>
	{% endfor %}
</ul>
{% endif %}

<nav class='row orange darken-4'>
<ul>
<li><a href='/'>Home</a></li>
<li><a href='/about'>About</a></li>
{% if user %}
<li>
	<a class='dropdown-button' href='/courses' data-activates='courses'>Courses<i class="material-icons">arrow_drop_down</i></a>
</li>
<li><a href='/logout'>Logout</a></li>
{% else %}
<li><a href='/login'>Login</a></li>
<li><a href="/register">Sign up</a></li>
{% endif %}
</ul>
</nav>
