{% extends "base.html" %}

{% block content %}
<h2>Courses</h2>
{% if user.teacher %}
<a class='btn' href='course/create'>Create Course</a>
{% endif %}
<table class='course-table border highlight responsive'>
	<tr class='course-header'>
		<th>Course</th>
		<th>Upcoming Assignments</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td><a href='/course/{{ course.course_id }}'>
				{{ course.dept }} {{ course.num}} {{ course.name }}</a></td>
		<td>
			{% for assign in upcoming %}
			<p>{{ assign.name }}</p>
			<strong>Due on: {{ assign.end_date }}</strong>
			<br>
			{% if user.student %}
			<a class='btn' href='/assignment/submit/{{ assign.assignment_id }}'>
				Submit Assignment</a>
			<a class='btn' href='/assignment/test/{{ assign.assignment_id }}'>
				Test Assignment</a>
			{% elif user.teacher %}
			<a class='btn' href='/assignment/edit/{{ assign.assignment_id }}'>
				<i class='material-icons'>edit</i> assignment</a>
			{% endif %}
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
